.card{
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 1px 4px 8px rgba(0,0,0,0.3);
    overflow: hidden;
    max-width: 150px;
    max-height: 150px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    flex: 1;
}
.card h3{
    font-size: 18px;
    font-weight: bold;
}
.card p{
    font-size: 27px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    padding-bottom: 5px;
}
.card:hover{
    transform: translateY(-5px);
    border: 2px solid #49a919;
    box-shadow: 2px 4px 8px rgb(157, 255, 173);
}
.section01{
    display: flex;
    justify-content: space-evenly;
}
.filtros {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.filtros select {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background-color: #dddfe2; 
    font-size: 12px;
    cursor: pointer;
    margin: 20px 0 0;
}

.ids{
    position: relative;
    width: 200px; 
    margin-top: 20px;
}
.ids input{
    width: 100%;
    padding: 5px 15px 5px 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.ids i{
    position: absolute;
    left: 12px;
    top: 20%;
    color: #6b7280;
}
.ids input:focus{
    box-shadow: 0 0 10px rgb(164, 252, 144);
}
.derecha {
    display: flex;
    justify-content: flex-end; /* flex-start lo pone a la izquierda */
    width: 100%;
    padding-right: 20px;
}
.derecha:focus{
    box-shadow: rgb(0, 255, 0);
}

.tabla{
    width: 98%;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    height: 70%;
    margin: 12px 0;
    text-align: center;
    border-collapse: collapse;
}
thead {
    background: #cdcccb;
}
th, td {
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
td{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
td img{
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
td:nth-child(2) {
    max-width: 300px;
}
td i{
    color: rgb(0, 0, 0);
    padding-right: 6px;
    font-size: 18px;
}
tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}

.estado{
    padding: 5px 0;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}
.exc{
    background-color: #d1fae5;
    color: #059669;
}
.rep{
    background-color: #e0e7ff;
    color: #4f46e5;
}
.dan{
    background-color: #fee2e2;
    color: #dc2626;
}
